<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @patient.first_name %>!</h1>
    <h2>Vous venez de créer un nouveau rendez-vous sur Bipolink</h2>
    <p>
      Votre rendez-vous aura lieu à <%= @appointment.lieu %>, le  <%= @appointment.date %>, avec le praticien <%= @practionner.first_name %> <%= @practionner.last_name %>.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur finalprojectthp.herokuapp.com !
  </body>
</html>