<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <div class="login100-form validate-form">
      <h2 class="login100-form-title p-b-37">Modifiez votre mot de passe (quand on a cliqué sur mdp oublié)</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", lass: "form-control", placeholder: "Votre nouveau mot de passe" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "login100-form-btn float-left" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
