<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mon profil</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="side-navbar.css">

    <script> $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
    </script>

<!-- Links edit profile -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

 <!-- Page Content  -->




<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>BIPOLINK</h3>
        </div>

        <ul class="list-group">

            <li>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
                <div id="navbar-text-color"><%= link_to "HOME", practionner_path %></div>
                <%= link_to "MES PATIENTS", patient_list_path %>
                <%= link_to "MON PROFIL", practionners_path %>
            </li>
        </ul>

    </nav>

</head>



<h3> FORM </h3>
<% if @practionner.errors.any? %>
<p>Erreurs lors de la modifications : </p>
<ul>
<% @practionner.errors.full_messages.each do |message| %>
<li> <%= message %> </li>
<% end %>
</ul>
<% end %>

<%= form_for @practionner do |f| %>
<p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
</p>

<p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
</p>

<p>
    <%= f.label :sexe %>
    <%= f.text_field :sexe %>
</p>

<p>
    <%= f.label :specialty %>
    <%= f.text_area :specialty %>
</p>

<p>
    <%= f.label :diploma %>
    <%= f.text_area :diploma %>
</p>

<p>
    <%= f.label :certifications %>
    <%= f.text_area :certifications %>
</p>

<p>
    <%= f.label :adress %>
    <%= f.text_field :adress %>
</p>

<p>
    <%= f.submit "Mettre à jour" %>
</p>
<% end %>






<div id="content">

<section class="page-section" id="editprofile">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<div class="mainbody container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;">Mon profil</h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Votre nom</h3>
                    <br><br>
                    <form class="form-horizontal">
                        <label for="First_name">Prénom</label>
                        <input type="text" class="form-control" id="First_name" placeholder="Prénom" > <br>
                        <label for="Last_name">Nom</label>
                        <input type="email" class="form-control" id="Last_name" placeholder="Nom" >
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Votre photo</h3>
                    <br><br>
                    <div align="center">
                        <div class="col-lg-12 col-md-12">
                            <img class="img-thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Télécharger une nouvelle photo de profil ! </button>
                        </div>
                    </div>
                </div>
            </div>
             <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Vos certifications</h3>
                    <br><br>
                    <form class="form-horizontal">
                        <label for="First_name">Votre spécialité</label>
                        <input type="text" class="form-control" id="First_name" placeholder="Spécialité" > <br>
                        <label for="Last_name">Vos diplômes</label>
                        <input type="email" class="form-control" id="Last_name" placeholder="Diplômes" >
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Informations</h3>
                    <br><br>
                    <form class="form-horizontal">
                        <label for="Your_location">Adresse de votre cabinet</label>
                        <input type="text" class="form-control" id="Your_location" placeholder="Adresse">
                   
                        <br>
                        
                    </form>
                </div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Sauvegarder mon profil</h3>
                    <br><br>
                    <button class="btn btn-primary"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Editer</button>
                </div>
            </div>
        </div>
    </div>
</div>


</section>
</body>

 <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</html>
