<head>

    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="side-navbar.css">

    <script> $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
    </script>

<% @id_user = current_patient.id %>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>BIPOLINK</h3>
        </div>

        <ul class="list-group">

            <li>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
                <div id="navbar-text-color"><%= link_to "HOME", patient_path(current_patient.id) %></div>
                <%= link_to "MES SOIGNANTS/MES RDVs", doctor_appointment_list_path(current_patient.id) %>
                <%= link_to "MON PROFIL", patients_path %>
            </li>
        </ul>

    </nav>

<section class="page-section bg-light" id="editprofile">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="mx-auto rounded-circle" src="https://i.goopics.net/nyPvX.png" alt=""><br><br>
          <h3 class="section-subheading">Prénom nom <%= current_patient.first_name %> <%= current_patient.last_name %></h3>
          <p class="text-muted"><%= current_patient.city %></p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                Informations
            </div>
            <div class="card-body">
              <p><%= current_patient.sexe %></p>
              <p><%= current_patient.birth %></p>
            </div>
            <div class="card-header">
                Traitement
            </div>
            <div class="card-body">
              <p><%= current_patient.treatment %></p>
            </div>
            <div class="card-header">
                Contact
            </div>
            <div class="card-body">
              <p><%= current_patient.phone %></p>
              <p><%= current_patient.email %></p>
            </div>
          </div>
          <br>
          <center><button class="btn btn-dark btn-xl text-uppercase js-scroll-trigger"> <%= link_to "Editer mon profil", edit_patient_path(@id_user) %></button> </center>
    </div>
  </div>
</div>
</section>
