<section class="page-section bg-light" id="editprofile">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6 text-center">
          <img class="mx-auto rounded-circle" src="https://i.goopics.net/nyPvX.png" alt=""><br><br>
          <h3 class="section-subheading">Prénom nom <%= current_patient.first_name %> <%= current_patient.last_name %></h3>
          <p class="text-muted">Ville</p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                Informations
            </div>
            <p>Diagnostic</p>
            <p>Traitement</p>
            <div class="card-header">
                Adresse
            </div>
            <p>54 rue de blabla, 75014 Paris</p>
            <div class="card-header">
                Contact
            </div>
            <p>email</p>
          </div>
          <br>
          <center><a href="#" class="btn btn-primary">Editer mon profil</a></center>
      </div>
    </div>
  </div>
</div>

<h1>
	MON PROFIL
</h1>

<% @id_user = current_patient.id %>
<%= link_to "Dashbord", patient_path(@id_user) %>

<br>
<br>
<%= current_patient.first_name %>

<br>
<br>
<%= current_patient.last_name %>

<br>
<br>

<%= link_to "Editer mon profil", edit_patient_path(@id_user) %>