

<div class="container">
<%= render 'layouts/side-navbar-patient' %>
<%= render 'layouts/top-navbar-patient' %>
    <div class="row">
		<div class="content">
			<h1>MON PROFIL</h1>
			<% @id_user = current_patient.id %>
			<%= link_to "Dashbord", patient_path(@id_user) %>
			<%= current_patient.first_name %><%= current_patient.last_name %>
			<br>
			<%= link_to "Editer mon profil", edit_patient_path(@id_user) %>

			</div>
		</div>
	</div>
</div>
