<% if current_patient === Patient.find(params[:id]) %>
  <%= render 'layouts/side-navbar-patient' %>
  <%= render 'layouts/top-navbar-patient' %>
  <!-- Page Content  -->
  <div id="content">
    <div class="container">
    <h2 class="text-center">Mon dashboard</h2>
        <hr class="accent mb-3">
        <h4>Ma courbe d'humeur</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>
        <br>
        <h4>Mon sommeil</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'layouts/side-navbar-doctor' %>
  <!-- Page Content  -->
  <div id="content">
    <div class="container">
      <h2 class="text-center">
        <%= "Dashboard du patient: #{Patient.find(params[:id]).first_name} #{Patient.find(params[:id]).last_name}" %>
      </h2>
        <hr class="accent mb-3">
        <h4>Courbe d'humeur</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:mood) %>
        <br>
        <h4>Sommeil</h4>
        <%= line_chart @patient_day.group_by_day(:created_at).sum(:hours_of_sleep) %>
      </div>
    </div>
  </div>
<% end %>
