<div class="container-login100" style="background-image: url('jaime-serrano-ziDTXxEO_Vo-unsplash.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          CONNEXION
        </span>
      <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
  <div class="actions">
    <%= f.submit "Se connecter" %>
  </div>
<% end %>

      </div>

<%= render "devise/shared/links" %>
</div>
</div>
